ALTER TABLE menu_items DROP CONSTRAINT IF EXISTS menu_items_menu_id_product_id_key;
ALTER TABLE menu_items ALTER COLUMN product_id DROP NOT NULL;
ALTER TABLE menu_items ADD COLUMN IF NOT EXISTS custom_name text;
